<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/design/assets/fonts5223.css">
    <link rel="stylesheet" href="../../public/design/assets/print5223.css">
    <link rel="stylesheet" href="../../public/design/assets/style5223.css">
    <link rel="stylesheet" href="../../public/design/assets/style5224.css">
    <link rel="stylesheet" href="fond_investissement.css">
    <title>Fond d'investissement</title>
</head>
<body>
    <div class="container_card">
        <div class="card_fond">
            <div class="container_photo_fond">
                <img src="../../public/images/Guy_computer.png" alt="">
            </div>
            <h2 class="titre_fond">Start a Company</h2>
            <p class="paragraphe_fond">Prepare for investment and growth with easy incorporate and legal tools</p>
            <div class="container_bouton_learn">
                <a href="#" class="learn_button bouton_africkup anul_lien">Learn more</a>
            </div>
        </div>
        <div class="card_fond">
            <div class="container_photo_fond">
                <img src="../../public/images/Guy_computer.png" alt="">
            </div>
            <h2 class="titre_fond">Start a Company</h2>
            <p class="paragraphe_fond">Prepare for investment and growth with easy incorporate and legal tools</p>
            <div class="container_bouton_learn">
                <a href="#" class="learn_button bouton_africkup anul_lien">Learn more</a>
            </div>
        </div>
        <div class="card_fond">
            <div class="container_photo_fond">
                <img src="../../public/images/Guy_computer.png" alt="">
            </div>
            <h2 class="titre_fond">Start a Company</h2>
            <p class="paragraphe_fond">Prepare for investment and growth with easy incorporate and legal tools</p>
            <div class="container_bouton_learn">
                <a href="#" class="learn_button bouton_africkup anul_lien">Learn more</a>
            </div>
        </div>
    </div>
</body>
</html>